# Autodetect text files
* text eol=lf

# ...Unless the name matches the following
# overriding patterns

# Definitively text files
*.txt text
*.md text
.editorconfig text
.htaccess text
.htpasswd text
.gitignore text
*.xml text
*.yaml text
*.json text
*.env text
*.html text
*.css text
*.scss text
*.php text
*.js text
*.java text
*.c text
*.h text

# Ensure those won't be messed up with
*.jpg binary
*.data binary
*.ico binary
*.png binary
